<div id="produtos" class="content" ng-controller="produtoController" ng-hide="loadIntro">
	<div class="panel panel-primary">
		<div class="panel-heading"><span class="fa fa-edit"></span>&nbsp;&nbsp;Cadatro de Produtos</div>
		<div class="panel-body">
			<div class="alert {{alertMessage.typeAlert}} alert-dismissable fade in" ng-show="showAlert">
				   <a class="close" data-dismiss="alert" ng-show="alertMessage.closable" aria-label="close">&times;</a>
				   <i class="{{alertMessage.alertIcon}}"></i>&nbsp;&nbsp;<strong>{{alertMessage.typeDescription}} </strong>{{alertMessage.status}} {{alertMessage.message}}
			</div>
			<form name="categoriasForm" class="form-group">
				<div class="form-group">
					<label for="descrProduto">Descrição</label> 
					<input id="descrProduto" type="text" class="form-control" ng-model="produto.descricao" ng-required="true" placeholder="Informe a descrição do produto" />
				</div>
				<div class="form-group" ng-init="findCategorias()">
					<label for="categoriaProd">Categoria</label>
					<select id="categoriaProd" ng-model="produto.idCategoria" ng-required="true" ng-disabled="categorias.length < 1" ng-options="categoria.id as categoria.descricao for categoria in categorias" class="form-control">
						<option value="">-Selecione-</option>
					</select>
				</div>
				
				<div class="form-group">
					<label for="qtdProduto">Quantidade</label> 
					<input id="qtdProduto" type="text" ng-mask="999999" class="form-control" ng-model="produto.quantidade" ng-required="true" placeholder="Informe a quantidade do produto" />
				</div>
				<hr />
				<div class="text-right">
					<button id="resetCliente" type="button" class="btn btn-default" ng-click="cancel()">
						Cancelar&nbsp;&nbsp;<span class="fa fa-ban" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-success" ng-disabled="categoriasForm.$invalid" ng-click="insert(produto)" ng-hide="hideBtnSalvar">
						Salvar&nbsp;&nbsp;<span class="fa fa-save" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-success" ng-disabled="categoriasForm.$invalid" ng-click="update(produto)" ng-hide="!hideBtnSalvar">
						Atualizar&nbsp;&nbsp;<span class="fa fa-refresh" aria-hidden="true"></span>
					</button>
				</div>
			</form>
		</div>
	</div>
	<div>
		<div class="row">
			<div class="col-sm-push-7 col-sm-5">
				<form id="frmFilterProdutos">
					<div class="form-group">
						<div class="input-group">
							<input ng-model="filterProdutos" ng-blur="onChangeFilterProdutos(filterProdutos)" ng-change="onChangeFilterProdutos(filterProdutos)" id="searchProduto" type="text" class="form-control"  placeholder="Informe a descrição do produto" />
							<span class="input-group-addon"> 
								<i class="fa fa-search"></i>
							</span>
						</div>
					</div>
				</form>
			</div>
		</div>	
		<div class="table-responsive">
			<table class="table table-condensed table-hover " ng-init="findAll()">
				<thead>
					<th>Código</th>
					<th>Descrição</th>
					<th>Categoria</th>
					<th>Quantidade</th>
					<th></th>	
				</thead>
				<tbody>
					<tr ng-repeat="produto in produtos">
						<td>{{ produto.id }}</td>
						<td>{{ produto.descricao }}</td>
						<td>{{ produto.categoriaDTO.descricao }}</td>	
						<td>{{ produto.quantidade }}</td>
						<td class="text-right">
							<button class="btn btn-sm btn-info" ng-click="loadForm(produto.id)">
								Editar&nbsp;&nbsp;<span class="fa fa-edit" aria-hidden="true"></span>
							</button>
							<button class="btn btn-sm btn-danger" ng-click="remove(produto.id)">
								Excluir&nbsp;&nbsp;<span class="fa fa-close" aria-hidden="true"></span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>